section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Gamejam
        h3.section-subheading.text-muted
          | people creating things
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-gamepad.fa-stack-1x.fa-inverse
        h4.service-heading Play
        p.text-muted
          | Von 20. - 21. Februar 2015 findet an der Fachhochschule Salzburg ein Game Jam statt. An zwei Tagen kann nach Herzenslust an Prototypen oder kleinen Spieleideen gearbeitet werden, du kannst Feedback und Meinungen anderer Entwicklerinnen und Entwickler zu deinen Projekten einholen oder einfach drauf los experimentieren!
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-wrench.fa-stack-1x.fa-inverse
        h4.service-heading Create
        p.text-muted
          | Einzige Vorgabe für die Teilnahme am Gamejam ist, dass die Projekte und Prototypen möglichst innerhalb der beiden Workshop-Tage realisiert und am Ende hergezeigt werden sollen. Anmelden kannst du dich entweder als Einzelperson oder mit deinem Team:
          br
        p
          a(href="http://goo.gl/forms/tVNyWM6qso").btn.btn-primary Hier anmelden
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-institution.fa-stack-1x.fa-inverse
        h4.service-heading Share
        p.text-muted
          | Die Fachhochschule Salzburg bietet für diese beiden Tage den perfekten Rahmen, um dich alleine oder bereits mit einem Team mitten in Entwicklung und Umsetzung einer Idee zu stürzen. Darüber hinaus kannst du dich natürlich intensiv mit anderen Spiele-Afficionados austauschen und diskutieren, ob nun World of Battlecraft oder Call of Honor auf der Next-Gen Dosbox am besten aussieht!
