section#about
  .container
    .row
      .col-lg-12
        include mixins/video
        br
        br
        br
    .row
      .col-lg-12.text-center
        h2.section-heading LudeCat
        h3.section-subheading.text-muted
          | people having fun
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-gamepad.fa-stack-1x.fa-inverse
        h4.service-heading Play
        p.text-muted.text-justify.
          Are you interested in competing in a decathlon extraordinaire, get to
          know fun new indie games or just want to have a blast?
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-heart.fa-stack-1x.fa-inverse
        h4.service-heading Compete
        p.text-muted.text-justify.
          Then team up and compete in 10 local multiplayer games against others!
          All games are being played by 4 players either on splitscreen, or even
          the same shared screen while the cheering crowd right behind you is
          going nuts!
        p
          a(href='#register').btn.btn-primary Register
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-clock-o.fa-stack-1x.fa-inverse
        h4.service-heading Save the date
        p.text-muted.text-justify.
          The welcome and warm-up event starts at 6:30 pm, the main event and competition starts at 7 pm!
