section#about
  .container
    .row
      .col-lg-12
        include mixins/video
    .row
      .col-lg-12.text-center
        h2.section-heading LudeCat
        h3.section-subheading.text-muted
          | people having fun
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-gamepad.fa-stack-1x.fa-inverse
        h4.service-heading Play
        p.text-muted.text-justify.
          Ihr wollt mit ein paar Freunden gegen andere Gruppen im Indie-Game
          Zehnkampf antreten oder einfach nur neue Spiele kennenlernen und live
          am Beamer mitfiebern?
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-heart.fa-stack-1x.fa-inverse
        h4.service-heading Compete
        p.text-muted.text-justify.
          Dann seid ihr herzlich zum ersten <strong>LudeCat</strong> eingeladen!
          Insgesamt werden 10 zufällig ausgeloste Spiele für jeweils maximal 5
          Minuten gespielt.
          Die gemeinsame Besonderheit dieser Spiele:
          Sie alle können entweder im lokalen 4-Player Splitscreen gespielt werden, oder aber alle 4 SpielerInnen spielen am selben Screen (Beamer)!
        p
          a(href="https://docs.google.com/forms/d/1bOiMcMRxi_L0msWzmE2oDdaGQa01j_S2DPnVcUUoeho/viewform").btn.btn-primary Hier anmelden
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-clock-o.fa-stack-1x.fa-inverse
        h4.service-heading Save the date
        p.text-muted.text-justify.
          Der Zehnkampf beginnt ab 18 Uhr.
          Bereits eine Stunde zuvor, also ab 17 Uhr, gibt es die Möglichkeit,
          eigene Projekte auszustellen und spielen zu lassen!          
