footer
  .container
    .row
      .col-md-12
        span.copyright
          | LudeCat Salzburg ist eine gemeinnützige Veranstaltung
          | und wird organisiert von #{''}
          a(href="https://multimediatechnology.at/in-english/") MultiMediaTechnology
      .col-md-12
        span.copyright
          | Wir freuen uns auf alle Teilnehmer*innen #{''}
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/GamesWorkshopS')
              i.fa.fa-twitter
          li
            a(href='https://github.com/multimediatechnology/gamejam')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Legal
