footer
  .container
    .row
      .col-md-12
        span.copyright
          | LudeCat Salzburg ist is a charitable event and is organized by #{''}
          a(href="https://multimediatechnology.at/in-english/") MultiMediaTechnology
      .col-md-12
        span.copyright
          | We look forward to all participants #{''}
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/GamesWorkshopS')
              i.fa.fa-twitter
          li
            a(href='https://github.com/multimediatechnology/ludecat')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Legal
