header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logo.png',
          alt='Gamejam Logo',
          width='200',
          heiht='200'
        ).img-circle.img-border
        br
        .logo Gamejam Salzburg
        br
        | Salzburg
        br
        | 20. - 21. Februar 2015
      .intro-lead-in play.create.share
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#register')
        | Hier anmelden
