header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logo.png',
          alt='LudeCat Logo',
          width='200',
          heiht='200'
        ).img-circle.img-border
        br
        .logo LudeCat #1
        br
        | Salzburg
        br
        | 1. Dezember 2015
      .intro-lead-in play.compete.time
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#register')
        | Hier anmelden
