header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logo.png',
          alt='LudeCat Logo',
          width='200',
          heiht='200'
        ).img-circle.img-border
        br
        .logo LudeCat #2
        br
        | Salzburg
        br
        | 23. Februar 2016
      .intro-lead-in play.compete.experiment
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#register')
        | Hier anmelden
