section#photos
  .container
    .row
      .col-lg-4
        img(src="/images/photos/ludecat-8/1.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/2.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/3.jpg").img-responsive
        br.hidden-lg
    .row.visible-lg
      br
    .row
      .col-lg-4
        img(src="/images/photos/ludecat-8/4.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/5.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/6.jpg").img-responsive
        br.hidden-lg
    .row.visible-lg
      br
    .row
      .col-lg-4
        img(src="/images/photos/ludecat-8/7.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/8.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/9.jpg").img-responsive
        br.hidden-lg
    .row.visible-lg
      br
    .row
      .col-lg-4
        img(src="/images/photos/ludecat-8/10.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/11.jpg").img-responsive
        br.hidden-lg
      .col-lg-4
        img(src="/images/photos/ludecat-8/12.jpg").img-responsive
        br.hidden-lg
