section#register
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Anmelden
    .row
      .col-lg-6
        dl.dl-horizontal
          dt Programm:
          dd
            | 23. Februar 2016
            br
            | 17:00 - 18:00 Uhr: Werkschau
            | 18:00 - 23:00 Uhr: Teamfindung, Siegerehrung
      .col-lg-6
        dl.dl-horizontal
          dt Wo?
          dd
            | Raum 017, Fachhochschule Salzburg, Campus Urstein Süd 1, A-5412 Puch/Salzburg
          dt Was?
          dd
            strong Ludecathlon
            br
            a(href="https://en.wikipedia.org/wiki/Decathlon") Decathlon
            br
            a(href="https://translate.google.com/#de/la/Das%20Spiel") Ludere → Das Spiel
          dt Kontakt
          dd
            | Florian Jindra&nbsp;
            a(href="mailto:florian@lude.cat") florian@lude.cat
    .row
      .col-lg-12.text-center
        p.
          Damit wir die Veranstaltung besser planen können, füllt bitte folgendes
          Formular aus.
        // a(href="https://docs.google.com/forms/d/1bOiMcMRxi_L0msWzmE2oDdaGQa01j_S2DPnVcUUoeho/viewform?usp=send_form", target="_blank").btn.btn-lg.btn-primary Hier klicken
        a(href="javascript:void(0)", disabled=true).btn.btn-lg.btn-primary Coming soon
