section#register
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Register
    .row
      .col-lg-6
        dl.dl-horizontal
          dt Schedule:
          dd
            | September 30th 2016
            br
            | 3:00 PM - 5:00 PM: Welcome & Warm-Up Event
            | 5:30 PM: Application Deadline
            | 6:00 PM - 11:00 PM: Main Event, Competition
      .col-lg-6
        dl.dl-horizontal
          dt Where?
          dd
            | Room 017 & Room , Fachhochschule Salzburg, Campus Urstein Süd 1, A-5412 Puch/Salzburg
          dt What?
          dd
            strong Ludecathlon
            br
            a(href="https://en.wikipedia.org/wiki/Decathlon") Decathlon
            br
            a(href="https://translate.google.com/#en/la/The%20Game") Ludere → Play
          dt Contact
          dd
            | Florian Jindra&nbsp;
            a(href="mailto:florian@lude.cat") florian@lude.cat
    .row
      .col-lg-12.text-center
        p.
          You can apply either as a single person or team right now, right here.
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSfeB9aCSPJl-95AY_TeTIF0U_8gQ66KczrHyzxDZdDI3kQS7Q/viewform", target="_blank").btn.btn-lg.btn-primary Register
