section#register
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Anmelden
    .row
      .col-lg-6
        dl.dl-horizontal
          dt Programm:
          dd
            | Dienstag 1. Dezember 2015
            br
            | 18:00 - 22:00 Uhr: Projektschau, Teamfindung, Siegerehrung
      .col-lg-6
        dl.dl-horizontal
          dt Wo?
          dd
            | Raum 017, Fachhochschule Salzburg, Campus Urstein Süd 1, A-5412 Puch/Salzburg
          dt Was?
          dd
            strong Ludecathlon
            br
            a(href="https://en.wikipedia.org/wiki/Decathlon") Decathlon
            br
            a(href="https://translate.google.com/#de/la/Das%20Spiel") Ludere → Das Spiel
          dt Kontakt
          dd
            | Florian Jindra&nbsp;
            a(href="mailto:florian@lude.cat") florian@lude.cat
    .row
      .col-lg-12.text-center
        p.
          Damit wir die Veranstaltung besser planen können, füllt bitte folgendes
          Formular aus.
        a(href="https://docs.google.com/forms/d/1zsKNxlSCjLHanohB4MR5nLYaLypkTsnMQiJ73r5cTvE/viewform", target="_blank").btn.btn-lg.btn-primary Hier klicken
