section#register
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Register
    .row
      .col-lg-6
        dl.dl-horizontal
          dt Schedule:
          dd
            | March 3rd 2017
            br
            | 4:30 PM - 6:00 PM: Prewarming Party
            br
            | 5:30 PM - Application Deadline
            br
            | 6:00 PM - 11:00 PM: Main Event, Competition
      .col-lg-6
        dl.dl-horizontal
          dt Where?
          dd
            | Audimax, Fachhochschule Salzburg
            br
            | Campus Urstein Süd 1, A-5412 Puch/Salzburg
          dt What?
          dd
            strong Ludecathlon
            br
            a(href="https://en.wikipedia.org/wiki/Decathlon") Decathlon
            br
            a(href="https://translate.google.com/#en/la/The%20Game") Ludere → Play
          dt Contact
          dd
            | Florian Jindra&nbsp;
            a(href="mailto:florian@lude.cat") florian@lude.cat
    .row
      .col-lg-12.text-center
        p.
          You can apply either as a single person or team right now, right here.
        a(href="https://goo.gl/forms/TvK3qGI6AMLkUIQI3", target="_blank").btn.btn-lg.btn-primary Register
