section#stream
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Livestream
        h3.section-subheading.text-muted
          | watch
    .row.text-center
      .col-md-12
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-television.fa-stack-1x.fa-inverse
        h4.service-heading Twitch Channel
        p
          a(href="http://www.twitch.tv/ludecat/").btn.btn-primary Livestream on Twitch
